    <!-- Document list -->
    <div class="mt-4">
        <h3 class="mb-3">Ingestion Management status</h3>
        <table class="table table-bordered" *ngIf="ingestionStatus.length > 0; else noDocs">
          <thead>
            <tr>
              <th>File Name</th>
              <th>Description</th>
              <th>createdAt</th>
              <th>updatedAt</th>
              <th>status</th>
              <th>user</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let status of ingestionStatus">
              <td>{{ status.fileName }}</td>
              <td>{{ status.description }}</td>
              <td>{{ status.createdAt }}</td>
              <td>{{ status.updatedAt }}</td>
              <td><span 
              class="badge"
              [ngClass]="{
                'bg-success': status.status === 'Completed',
                'bg-danger': status.status === 'Failed',
                'bg-secondary': status.status !== 'Completed' && status.status !== 'Failed'
              }">
              {{ status.status }}
            </span></td>
              <td>{{ status.userID }}</td>
            </tr>
          </tbody>
        </table>
        <ng-template #noDocs>
          <p>No documents uploaded yet.</p>
        </ng-template>
      </div>